* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fafafa; }
  body h1 {
    text-align: center;
    padding: 50px 0; }

#cart {
  margin-top: 100px;
  margin: 0 auto;
  width: 700px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  #cart .cart {
    width: 150px;
    margin: 10px;
    text-align: center;
    height: 150px;
    line-height: 150px;
    border: 2px solid #2359c3; }
  #cart .cart-active {
    background-color: #fff; }
    #cart .cart-active:hover {
      cursor: pointer; }
  #cart .cart-hide {
    background-color: #3498db;
    background-color: #6d6c6f;
    background-color: #2359c3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23fffeff' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    border: 2px solid #2359c3;
    cursor: pointer; }
  #cart .matched {
    background-color: #00d5ff63; }
